In [2]:
import pandas as pd

In [106]:
t1 = pd.read_csv("SampleTournament/SampleTournament.csv")

In [108]:
print(t1.head())

   Interaction index  Player index  Opponent index  Repetition  \
0                  0             0               0           0
1                  0             0               0           0
2                  1             0               1           0
3                  1             1               0           0
4                  2             0               2           0

                              Player name  \
0                             Tit For Tat
1                             Tit For Tat
2                             Tit For Tat
3  First by Tideman and Chieruzzi: (D, D)
4                             Tit For Tat

                            Opponent name  \
0                             Tit For Tat
1                             Tit For Tat
2  First by Tideman and Chieruzzi: (D, D)
3                             Tit For Tat
4                       First by Nydegger

                                             Actions  Score  Score difference  \
0  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...    600                 0
1  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...    600                 0
2  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...    595                -5
3  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...    600                 5
4  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...    600                 0

   Turns  ...  DD count  CC to C count  CC to D count  CD to C count  \
0    200  ...         0            199              0              0
1    200  ...         0            199              0              0
2    200  ...         1            198              0              0
3    200  ...         1            197              1              0
4    200  ...         0            199              0              0

   CD to D count  DC to C count  DC to D count  DD to C count  DD to D count  \
0              0              0              0              0              0
1              0              0              0              0              0
2              1              0              0              0              0
3              0              0              1              0              0
4              0              0              0              0              0

   Good partner
0             1
1             1
2             1
3             0
4             1

[5 rows x 28 columns]

In [110]:
print(t1.dtypes)

Interaction index              int64
Player index                   int64
Opponent index                 int64
Repetition                     int64
Player name                   object
Opponent name                 object
Actions                       object
Score                          int64
Score difference               int64
Turns                          int64
Score per turn               float64
Score difference per turn    float64
Win                            int64
Initial cooperation             bool
Cooperation count              int64
CC count                       int64
CD count                       int64
DC count                       int64
DD count                       int64
CC to C count                  int64
CC to D count                  int64
CD to C count                  int64
CD to D count                  int64
DC to C count                  int64
DC to D count                  int64
DD to C count                  int64
DD to D count                  int64
Good partner                   int64
dtype: object

In [112]:
t1_actions = t1["Actions"].apply(lambda x: pd.Series(list(x)))

In [116]:
t1_actions = t1_actions.replace({"C": 1, "D": 0}).astype(int)

In [118]:
t1_actions.dtypes

0      int32
1      int32
2      int32
3      int32
4      int32
       ...
195    int32
196    int32
197    int32
198    int32
199    int32
Length: 200, dtype: object

In [120]:
t1 = pd.concat([t1,t1_actions], axis=1)

In [122]:
print(t1.head())

   Interaction index  Player index  Opponent index  Repetition  \
0                  0             0               0           0
1                  0             0               0           0
2                  1             0               1           0
3                  1             1               0           0
4                  2             0               2           0

                              Player name  \
0                             Tit For Tat
1                             Tit For Tat
2                             Tit For Tat
3  First by Tideman and Chieruzzi: (D, D)
4                             Tit For Tat

                            Opponent name  \
0                             Tit For Tat
1                             Tit For Tat
2  First by Tideman and Chieruzzi: (D, D)
3                             Tit For Tat
4                       First by Nydegger

                                             Actions  Score  Score difference  \
0  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...    600                 0
1  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...    600                 0
2  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...    595                -5
3  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...    600                 5
4  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...    600                 0

   Turns  ...  190  191  192  193  194  195  196  197  198  199
0    200  ...    1    1    1    1    1    1    1    1    1    1
1    200  ...    1    1    1    1    1    1    1    1    1    1
2    200  ...    1    1    1    1    1    1    1    1    1    0
3    200  ...    1    1    1    1    1    1    1    1    0    0
4    200  ...    1    1    1    1    1    1    1    1    1    1

[5 rows x 228 columns]

In [124]:
t1.to_csv("SampleTournament/SplitActions.csv")